# websockets>=14.1
# chainlit>=2.0.3
# aiohttp>=3.11.11
# aiohttp-cors>=0.7.0
# azure-identity>=1.19.0
# python-dotenv>=1.0.1
# numpy>=2.2.2

websockets==15.0.1
chainlit==2.5.5
aiohttp==3.11.18
aiohttp-cors==0.8.1
azure-identity==1.21.0
python-dotenv==1.0.1
numpy==2.2.5



